                    body {
                    margin: 0;
                    padding: 0;
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: #e2e2e2e2;
                }

                .grupo{
                    width: 369px;
                    height: 26px;
                    background: #e30613;
                    position: absolute;
                    top: -1.1px;
                    left: 0% ;
                    border: 5px solid #e30613;
                    border-radius: 3px;    
                }
                
                .grupo2{
                    width: 1500px;
                    height: 39px;
                    background: #e30613;
                    position: absolute;
                    top: -1%;
                    left: 0% ;
                    border: 5px solid #e30613;
                    border-radius: 1px;
                }
                
                .imagen {
                    margin: 0px;
                    border-radius: 50%;
                    width: 160px;
                    height: 150px;
                    position: absolute;
                    left: 29%;
                    top: 4%;
                }

                .box {
                    width: 300px;
                    padding: 40px;
                    position: absolute;
                    top: 76%;
                    transform: translate(145%, -50%);
                    background: #ffffff;
                    text-align: center;
                    border-radius: 50px;
                }
                
                .box h1 {
                    color: #CCC;
                    text-transform: uppercase;
                    font-weight: 400;
                }
                
                .box h5 {
                    color: #CCC;
                    text-transform: uppercase;
                    font-weight: 100;
                    margin: auto;
                }

                .box input[type="text"],
                .box select,
                .box textarea {
                    border: 1px;
                    background: none;
                    display: block;
                    margin: 15px auto;
                    text-align: center;
                    border: 2px solid #e30613;
                    padding: 14px 0px;
                    width: 227px;
                    outline: none;
                    color: #706f6f;
                    border-radius: 24px;
                    transition: .25s;
                }
                
                .box input[type="text"]:focus,
                .box select:focus,
                .box textarea:focus {
                    width: 280px;
                    border-color: #e30613;
                }
                
                .radio .checkbox {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 60%;
                    left: 50%;
                }

                label {
                    color: #CCC;
                    font-family: sans-serif;
                    font-size: 18px;
                    border: 2px solid #e30613;
                    margin: 6px auto;
                    border-radius: 35px;
                    padding: 10px 13px;
                    display: inline-block;
                    align-items: center;
                    cursor: pointer;
                }
                
                .box input[type = "submit"] {
                    border: 0;
                    background: none;
                    display: block;
                    margin: 0px auto;
                    text-align: center;
                    border: 4px solid #a2c617;
                    padding: 14px 40px;
                    outline: none;
                    color: #CCC;
                    border-radius: 24px;
                    transition: 0.25s;
                    cursor: pointer;
                }

                    .box input[type = "submit"]:hover {
                    background:#a2c617 ;
                    }
                }
                select{
                    position: absolute;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    left: 50%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 305px;
                    padding: 10px 20px;
                    font-family: 'Poppins',sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    letter-spacing: 0.5px;
                    cursor: pointer;
                    background-color: #e30613;
                    color: #e30613;
                    border: 6px solid #e30613;
                    border-radius: 5px;
                    background-repeat: no-repeat;
                    background-size: 47px;
                    background-position: 247px 0.5px;
                    outline: none;
                    box-shadow: 0 0 20px rgba(20,20,30,0.25);
                }
                select:-ms-expand{
                    display: none;
                }
                select:hover{
                    border: 6px solid #e30613;
                }
                select option{
                    background-color: #ffffff;
                    letter-spacing: 1.2px;
                    font-weight: 400;
                    font-size: 18px;
                }
                .selected{
                    display: none;
                }
                
                .ok {
                    border: 1px solid #a2c617;
                    border-radius: 10px;
                    width: 20%;
                    padding: 12px;
                    background-color: #a2c617;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                }

                .bad {
                    border: 1px solid #e9a322;
                    border-radius: 10px;
                    border: 6px solid #e9a322;
                    width: 20%;
                    padding: 12px;
                    background-color: #e9a322;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                }